.u-section-1 .u-sheet-1 {
  min-height: 95px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 97px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 270px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 692px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 572px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/step12.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-family: Bungee;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -186px;
  }

  .u-section-2 .u-image-1 {
    min-height: 472px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1312px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 373px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1424px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 48px;
  }

  .u-section-2 .u-image-1 {
    min-height: 560px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -112px;
  }

  .u-section-2 .u-image-1 {
    min-height: 353px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 2163px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 590px;
  background-image: url("images/step22.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 590px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-family: Bungee;
  margin: 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 141px;
  margin-bottom: 0;
}

.u-section-3 .u-image-2 {
  min-height: 572px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/step32.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 572px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0 30px 60px;
}

.u-section-3 .u-text-2 {
  font-family: Bungee;
  margin: 0 51px 0 9px;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 141px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-3 {
  min-height: 590px;
  background-image: url("images/step4.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 590px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-3 .u-text-3 {
  font-family: Bungee;
  margin: 0 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1743px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 8px;
  }

  .u-section-3 .u-image-1 {
    min-height: 486px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 87px;
  }

  .u-section-3 .u-image-2 {
    min-height: 472px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 472px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 1px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 118px;
  }

  .u-section-3 .u-image-3 {
    min-height: 486px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 486px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -872px;
  }

  .u-section-3 .u-image-1 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 100px;
  }

  .u-section-3 .u-image-2 {
    min-height: 362px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 100px;
  }

  .u-section-3 .u-image-3 {
    min-height: 307px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 307px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1641px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -590px;
  }

  .u-section-3 .u-image-1 {
    min-height: 558px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 540px;
    margin-top: 123px;
    margin-right: auto;
    margin-left: -10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 543px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 106px;
  }

  .u-section-3 .u-image-3 {
    min-height: 461px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1481px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -189px;
  }

  .u-section-3 .u-image-1 {
    min-height: 351px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 102px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    min-height: 342px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 102px;
  }

  .u-section-3 .u-image-3 {
    min-height: 290px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }
}